@page
@model test.Pages.Clients.IndexModel
@{
}

}

<br >
<h2>List of Clients</h2>
<a class="btn btn-primary btn-sm" href="/Clients/create">New Client</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Created_at</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach(var item in Model.ListClients)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.address</td>
                <td>@item.created_at</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Clients/Edit?id=@item.ID">Edit</a>
                    <a class="btn btn-primary btn-sm" href="/Clients/Delete?id=@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
